	/*
	 * Some custom styles for eparents
	 */
 
.ep-comments-notice {
	margin-top: 2em;
	}
#ep-welcome #ep_recent_qanswers li img {
	float: left;
	}
#ep-welcome #ep_recent_qquestions {
	height: 300px;
	overflow: auto;
	}
	




	/* theme the user-location form */ 
view-ep-professionals-maplist .views-exposed-widget {
	}
.view-ep-professionals-maplist #edit-distance-postal-code, 
.view-ep-professionals-maplist #edit-distance-search-distance, 
.view-ep-professionals-maplist #edit-distance-search-units {
	width: 100px;
	}
#edit-distance-postal-code-wrapper label , #edit-distance-search-distance-wrapper label {
	/*float: left;
	padding-right: .5em;*/
	}