	/*
	 * Some custom styles for eparents
	 */
#footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	}
#footer ul li, #footer ul li a { /* ul li.leaf a, ul li.expanded a, ul li.collapsed a */
	display: inline; 
	background: none;
	}

.node .terms { 
	float: none;
	}
.node .meta .terms .links:before { 
	content: "Term Links: ";
	}

	/* theme the home page */
#ep-welcome .panel-col-top .rounded_corner {
	width: 50%;
	float: left;
	}
#ep-welcome .panel-col-top {
	float: left;
	}
#ep-welcome .panel-col-top .rounded_corner .item-list {
	height: 260px;
	overflow: auto;
	padding-right: .5em;
	}
#ep-welcome #ep_recent_qanswers li img {
	float: left;
	}
#ep-welcome #ep_recent_qanswers .trailer {
	text-align: right;
	font-style: italic;
	}
#ep_recent_qquestions .teaser:hover { 
	border-right: 1px solid #dcdcdc; 
	border-bottom: 1px solid #dcdcdc; 
	}
#ep-welcome .date {
	font-weight: normal;
	}
#ep-welcome #ep_recent_qquestions p {
	margin-bottom: 0;
	}
#ep-welcome .more-link {
	font-style: italic;
	}


	/* theme the user-location form */ 
view-ep-professionals-maplist .views-exposed-widget {
	}
.view-ep-professionals-maplist #edit-distance-postal-code, 
.view-ep-professionals-maplist #edit-distance-search-distance, 
.view-ep-professionals-maplist #edit-distance-search-units {
	width: 100px;
	}
#edit-distance-postal-code-wrapper label , #edit-distance-search-distance-wrapper label {
	/*float: left;
	padding-right: .5em;*/
	}

	/* other special sections */	
.ep-comments-notice {
	margin-top: 2em;
	}

